
<div class="container">

  <p>Search your {{searchType}}</p>

<form class="form" (submit)="onSubmit()">
    <input class="input" name="search" [(ngModel)]="search">

    <p *ngIf="!isValid" class="help is-danger">this field is required</p>

    <a *ngIf="searchType == 'Movie';" (click)="changeSearchType()" class="small"> or maybe a TV Show?</a>
    <a *ngIf="searchType == 'TV Show';" (click)="changeSearchType()" class="small"> or maybe a Movie?</a>

    <div>
      <button class="button is-primary">submit</button>
    </div>

 </form>
</div>

<section>

  <div class="columns is-multiline">

    <div *ngFor="let movie of list" class="column is-one-quarter">

      <div class="box" (click)="onClick(movie)">
        <img src="{{movie.Poster}}" alt="">
        <p>{{movie.Title}}</p>
        <p>{{movie.Year}}</p>
      </div>

    </div>
  </div>

  <span *ngFor="let page of pages; let i = index" class="page" (click)="paginate(page)">{{page}}</span>
  
</section>