/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900&display=swap');

$green: #9bffc4;
$darkGreen: #134E5E;
$black: #2d2d2d;
$white: #fefefe;
$border-darkGreen: 1px solid $darkGreen;
$border-green: 1px solid $green;
$border-bold-green: 10px solid $darkGreen;
$has-radius: 5px;

body {
    // background-color: $black;
    background-image: linear-gradient(#134E5E, #71B280);
    min-height:100vh;
    font-family: "lato", sans-serif;
}

section {
    padding:20px;
}

.title {
    font-weight: 900;
    padding: 0 auto;
    margin: 0 auto;
    color: $darkGreen;
}

.sub-title {
    font-size:14px;
    color: $green;
}

.large {
    font-size:18px;
}

.is-primary {
    background:$darkGreen;
}

.has-margin {
    margin:10px;
}

.has-large-margin {
    margin:40px;
}

.box {
    background-color: transparent;
}

.number-square{
    cursor:pointer;
    color:$darkGreen;
    padding:10px 15px;
    border:$border-darkGreen;
    border-radius: $has-radius;
    box-shadow: 0 2px 0 $darkGreen;

    &:hover {
        background: $green;
        color:$black;
        border:$border-green;
    }

    &.active {
        background: $green;
        color:$black;
    }
}

.search-section {
    min-height:100vh;
    display: flex;
    align-items: center;
    text-align: center;
    margin:auto;
    width:60%;
    transition: all .5s;

    &.active{
        min-height: 10px;
        align-items: top;
        width:80%;
    }

    .form-box{
        margin:auto;
    }

    .title {
        color:$white;
        padding:10px auto;
    }

    a{
        font-size:12px;
        color:$white;
    }
}

.list-section{
    .box {
        min-height:470px;
    
        img {
            min-height:350px;
            max-height:350px;
            background: #c0c0c0;
            color: $black;
            font-weight: bold;
            margin:auto;
        }
        
        .title {
            font-size:18px;
            color:$green;
        }
    
        .sub-title{
            font-size:14px;
            color:$white;
        }
    
        @media (max-width:768px) {
            text-align:center;
            width: 60%;
            margin:auto;
    
            .title {
                font-size:22px;
            }
        }
    }
}

.detail-section{
    min-height:100vh;
    display:relative;

    .container {
        padding:50px 0;
    }

    p{
        color:$white;
    }

    img {
        border: $border-bold-green
    }

    .description{
        margin: 5px;
        color:$green;
        font-style: italic;
    }

    .poster{
        background-size: cover;
        background-repeat: no-repeat;
    }

    .has-text-centered{
        position:relative;
    }

    .rate {
        color: $white;
        font-size:42px;
        font-weight: 900;
        font-style: italic;
    }
}

.spoiler {
    color:$white;
    font-size:14px;

    img {
        width:480px;
        height:260px;
    }
}