/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    background-color:#303030;
    min-height:100vh;
    font-family: "lato", sans-serif;
}

section {
    padding:20px;
}