/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900&display=swap');

$green: #9bffc4;
$black: #2d2d2d;
$white: #fefefe;
$border-green: 1px solid $green;

body {
    background-color: $black;
    min-height:100vh;
    font-family: "lato", sans-serif;
}

section {
    padding:20px;
}

.paginate {
    cursor: pointer;
    text-align: center;
    width:inherit;

    .page {
        padding: 10px;
        border: $border-green;
        margin: 0 10px;
        background:transparent;
        color: $green;

        &.active {
            background: $green;
            color:$black;
        }
    }
}

.search-section {
    min-height:100vh;
    display: flex;
    align-items: center;
    text-align: center;
    margin:auto;
    width:60%;
    transition: all .5s;

    &.active{
        min-height: 10px;
        align-items: top;
        width:80%;
    }

    .form-box{
        margin:auto;
    }

    .title {
        font-size: 22px;
        color:$white;
        font-style: italic;
        padding:10px auto;
    }

    .sub-title {
        font-size:14px;
         color: $green;
    }

    a{
        font-size:12px;
        color:$white;
    }
}

.list-section{
    .box {
        min-height:470px;
        background-color: transparent;
    
        img {
            min-height:350px;
            max-height:350px;
            background: #c0c0c0;
            display: flex;
            align-items: center;
            text-align: center;
            color: $black;
            font-weight: bold;
            margin:auto;
        }
        
        .title {
            font-size:18px;
            font-weight: bold;
            padding: 0 auto;
            margin: 0 auto;
             color: $green;
        }
    
        .sub-title{
            font-size:14px;
            padding:5 auto;
            color:$white;
        }
    
        @media (max-width:768px) {
            text-align:center;
            width: 60%;
            margin:auto;
    
            .title {
                font-size:22px;
            }
        }
    }
}

.detail-section{
    max-height:800px;
    display:relative;

    .box {
        background-color:transparent;
        background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1));
    }

    li{
        color:$white;
        margin: 15px 0;
        p{
            margin: 5px;
            color:$green;
            font-weight:900;
            font-style: italic;
        }
    }

    .poster{
        background-size: cover;
        background-repeat: no-repeat;
    }

    .rate{
        padding:10px;
        border:$border-green;
        margin:10px;
    }
}