<section class="detail-section">

  <div class="container is-fluid">
    <div class="columns is-mobile">
        
      <div class="column">
        <div class="box ">
          <div class="poster" [style.background-image]="getBackground(detail.Poster)"></div>
          <div>
            <p>{{detail.Title}}</p>
          </div>
          <div>
            <span>{{detail.Released}}</span>
            <span>{{detail.Runtime}}</span>
          </div>
          <div>
            {{detail.Plot}}
          </div>
          <p><b>Actors</b>{{detail.Actors}}</p>
          <p><b>Genre</b>{{detail.Genre}}</p>
          <p><b>Director</b>{{detail.Director}}</p>
          <p><b>Awards</b>{{detail.Awards}}</p>
        </div>
      </div>
      <!-- <div class="column poster">
        <div class="has-text-centered">
          <img src="{{detail.Poster}}" alt="">
        </div>
      </div> -->

      
    </div>
    <div class="columns">
      <span class="rate" *ngFor="let rate of rates" (click)="sendRate(detail.imdbID, rate)">{{rate}}</span>
    </div>

    <div>{{average}}</div>

  </div>

</section>