<section class="detail-section">

  <div class="container is-fluid">
    <div class="columns">

      <div class="column poster">
        <div class="has-text-centered">
          <img src="{{detail.Poster}}" alt="No image available">
        </div>
      </div>
    
      <div class="column">
        <div class="box">
          <div>
            <p class="has-margin">{{detail.Title}}</p>
          </div>
          <div>
            <span class="description">{{detail.Released}}</span>
            <span class="description">{{detail.Runtime}}</span>
          </div>
          <div class="description">
            {{detail.Plot}}
          </div>
          <p class="has-margin">Actors</p>   
          <div class="description">
            {{detail.Actors}}
          </div>
          <p class="has-margin">Genre</p>    
          <div class="description">
            {{detail.Genre}}
          </div>
          <p class="has-margin">Director</p> 
          <div class="description">
            {{detail.Director}}
          </div>
          <p class="has-margin">Awards</p>   
          <div class="description">
            {{detail.Awards}}
          </div>
        </div>
      </div>
    </div>
    <div class="has-text-centered has-large-margin" *ngIf="!hasVoted" >
      <span class="number-square has-margin" *ngFor="let rate of rates" (click)="sendRate(detail.imdbID, rate)">{{rate}}</span>
    </div>

    <div class="has-text-centered has-margin" *ngIf="hasVoted">
        <p class="help large" *ngIf="hasVoted">Thanks for rating!</p>
    </div>

    <div class="has-text-centered has-large-margin">
      <div class="title"> Total Rate </div>
      <div class="rate">{{average}}</div>
    </div>

  </div>

</section>