<section class="detail-section">

  <div class="container is-fluid">
    <div class="columns is-mobile">
      
      <div class="column">
        <div class="has-text-centered">
          <img src="{{detail.Poster}}" alt="">
        </div>
      </div>

      <div class="column">
        <div class="box">
  
          <ul>
            <li>{{detail.Released}}</li>
            <li>{{detail.Genre}}</li>
            <li>{{detail.Director}}</li>
            <li>{{detail.Actors}}</li>
            <li>{{detail.Plot}}</li>
            <li>{{detail.Writer}}</li>
            <li>{{detail.Awards}}</li>
            <li>{{detail.Runtime}}</li>
          </ul>
  
        </div>
      </div>
    </div>
  </div>

</section>